.jumbotron{
    background-color:red;
    color: black;
    text-align: center;
}


footer{
    padding: 10px 10px 0 10px;
    background-color:black;
    margin-bottom:0px;
    margin-top: 10px;
}
.parrafo{
    align-items: center;
    flex:1 250px;
    padding: 2px 5px 2px 5px;
    margin-top: 5px;
    }


.card-hotel{
    flex:1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    
}
.datos{
    color: aliceblue;
    text-align: center;
}